<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>
<body>
  <nav>
    <a href="/chapsticks/new" <%- title === 'Add Chapstick' ? 'class="active"' : '' %>>ADD CHAPSTICK</a>
    <a href="/chapsticks" <%- title === 'All Chapsticks' ? 'class="active"' : '' %>>ALL CHAPSTICKS</a>
  </nav>
  <main>
    <h1><%= title %></h1>